*,
::before,
::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
}

.app__nav {
  background-color: #fff;
  padding: 28px 22px
}

.app__nav > a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1724;
  color: #646465;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: center;
  border-radius: 0.5rem;
}

.app__logo {
  display: block;
  margin: 0 0 2em;
}

.app__body {
  background-color: #EFEFEF;
  padding: 30px 40px;
}

h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1 {
  color: #000;
  font-size: 26px;
  line-height: 34px;
}

h2 {
}

h3 {
  color: #646465;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.o-text-body1 {
  color: #646465;
  font-size: 14px;
  line-height: 24px;
}

.o-text-body2 {
  color: #92929D;
  font-size: 12px;
  line-height: 22px;
}

.o-text-h4 {
  color: #92929D;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}

.o-button {
  border: 0;
  background-color: #008CF5;
  color: #fff;
  border-radius: 7px;
  padding: 12px 18px;
  min-height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.well {
  border: 1px solid #E2E3E4;
  border-radius: 12px;
  background-color: #fff;
  padding: 36px;

  + .well {
    margin-top: 36px;
  }
}

.o-buttonicon {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.c-tabs {
  &__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, 127px);
    gap: 5px;

    &__tab {
      appearance: none;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid #A1ABB1;
      font-size: 0.875rem;
      line-height: 1.2142;
      padding: 1rem;
      cursor: pointer;

      &:focus {
        outline: 0;
      }

      &--active {
        color: #008CF5;
        border-bottom-color: #008CF5;
      }
    }
  }

  &__panel {
    display: none;
    margin-top: 2.5rem;

    &--active {
      display: block;
    }
  }
}

.o-input {
  // height: 44px;
  color: #646465;
  padding: 10px 16px;
  background-color: #fff;
  border: 1px solid #E2E3E4;
  border-radius: 8px;
  text-align: left;
  width: 100%
}

.o-label {
  @extend .o-text-body2;
  color: #171725;
  display: block;
  margin-bottom: 8px;
}

.visuallyhidden {
  border: 0; 
  clip: rect(0 0 0 0); 
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;

  &--focusable:focus,
  &--focusable:active {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: auto;
    overflow: visible;
    width: auto;
    white-space: normal;
  }
}