body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
}

.app__nav {
  background-color: #fff;
  padding: 28px 22px
}

.app__nav > a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1724;
  color: #646465;
  text-decoration: none;
}

.app__logo {
  display: block;
  margin: 0 0 2em;
}

.app__body {
  background-color: #EFEFEF;
  padding: 30px 40px;
}